.App {
  height: 100vh;
  background: linear-gradient(45deg, #21c9ca, #f349cb);
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
}
.input {
  width: 120%;
}
.form {
  display: flex;
}
.todo {
  display: flex;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.input {
  border-radius: 0.5rem;
  min-height: 4vh;
  min-width: 25vw;
  border: none;
  padding: 2%;
}

.submit {
  margin-left: -40px;
  border: none;
  background: none;
  font-size: 30px;
}
.todo {
  display: flex;
  justify-content: space-between;
}
.list-icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.list-icons button {
  height: 5vh;
}
.list-container {
  width: fit-content;
  overflow-wrap: normal;
  font-size: 30px;
}
.fa-check-square {
  color: green;
  font-size: 25px;
}
.fa-trash-alt {
  color: red;
  font-size: 25px;
}
